/* General */

:root {
  --primary: #183059;
  --secondary: #276fbf;
  --highlight: #f03a47;
  --background: #f6f4f3;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 0.5s;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--background);
}

li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  color: #000;
}

p {
  font-size: 1.2rem;
  color: #000;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
  text-decoration: underline;
}

#nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
}

/* Containers, Banners, etc. */

.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.narrow-container, .wide-container, .banner, .carousel, .subtitle {
  margin-top: 75px;
}

.narrow-container, .wide-container {
  width: 90%;
}

.carousel {
  width: 97.5%;
}

.connected {
  margin-top: 0;
}

.btn-container {
  display: flex;
  flex-direction: column;
}

.btn-container a:not(:last-child) {
  margin-bottom: 20px;
}

.banner {
  width: 100%;
  background-color: var(--primary);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  color: #fff;
  text-align: center;
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--secondary);
}

.subtitle h3 {
  color: #fff;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid var(--secondary);
  margin-bottom: 5px;
}

/* Buttons */

.playlist-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: #fff;
}

.playlist-btn h4 {
  color: #000;
}

.playlist-btn:hover {
  background-color: rgba(240, 58, 71, 0.25);
}

.playlist-btn h4:hover {
  text-decoration: none;
}

.playlist-btn .icon {
  width: 60px;
  margin-bottom: 15px;
}

.playlist-btn p {
  margin-bottom: 0;
}

.intro {
  display: flex;
  flex-direction: column;
}

.intro div:not(:last-child) {
  margin-bottom: 20px;
}

.intro * {
  text-align: center;
}

#new-vids a {
  border: none;
}

.card img {
  border-radius: 20px 20px 0 0 ;
}

.card-body * {
  color: #000;
  text-align: center;
}

.card:hover {
  background-color: rgba(240, 58, 71, 0.25);
}

.card, #new-vids .button {
  border-radius: 20px;
  border-color: lightgray;
}

.carousel-item a img {
  border: 1px solid lightgray;
  border-radius: 20px;
}

footer, .copyright {
  background-color: var(--primary);
}

footer {
  margin-top: 75px;
}

footer ul li a:hover {
  text-decoration: underline;
}

#large-tagline {
  display: none;
}

@media only screen and (max-width: 768px) {

  /* Navbar */

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-link {
    color: var(--primary);
  }

  .nav-link:hover {
    color: var(--primary);
    text-decoration: underline;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (min-width: 576px) {
  .btn-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .btn-container a {
    width: 48%;
  }

  .carousel {
    min-width: 550px;
    width: 50%;
  }

  #small-tagline {
    display: none;
  }

  #large-tagline {
    display: block;
    font-size: 50px;
  }

  h1 {
    font-size: 50px;
  }

  .banner, .subtitle {
    width: 90%;
  }

  .banner {
    border-radius: 20px 20px 0 0;
  }

  .subtitle {
    border-radius: 20px;
  }

  .subtitle.connected {
    border-radius: 0 0 20px 20px;
  }
}

@media only screen and (min-width: 992px) {
  .btn-container a {
    width: 32%;
  }
}