root {
  background: #fff;
}

html * {
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

.question-container {
  display: flex;
  flex-direction: row;
}

#speak-btn {
  margin-right: 10px;
}

#speak-btn:hover {
  cursor: pointer;
}

#status, #questions-correct {
  font-weight: 700;
}

.outer-container {
  max-width: 700px;
  background: #f6f4f3;
  box-shadow: 10px 10px 20px #999;
  border-radius: 10px;
  padding: 40px;
}

.title-container, .button-container {
  display: flex;
  flex-direction: row;
}

.title-container {
  justify-content: space-between;
}

.button-container {
  justify-content: space-around;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

button {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px 32px;
  background-color: #f6f4f3;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
}

#start-btn {
  border-radius: 10px 0 0 10px;
}

#submit-btn {
  border-radius: 0 10px 10px 0;
}

#reset-btn {
  border-radius: 10px;
}

button:hover {
  background-color: #ccc;
}