root {
  --primary: #183059;
  --secondary: #276fbf;
  --highlight: #f03a47;
  --background: #f6f4f3;
  --green: #49d396;
  background-color: var(--background);
}

html * {
  padding: 0;
  margin: 0;
  transition: 0.2s;
}

.question-container {
  display: flex;
  flex-direction: row;
}

#speak-btn {
  margin-right: 10px;
}

#speak-btn:hover {
  cursor: pointer;
}

#question-status, #questions-correct {
  font-weight: 700;
}

.outer-container {
  max-width: 700px;
  background: #d3e2f2;
  box-shadow: 10px 10px 5px #e1dcda;
  border: 1px solid #183059;
  border-radius: 10px;
  padding: 40px;
}

.title-container, .button-container {
  display: flex;
  flex-direction: row;
}

.title-container {
  justify-content: space-between;
}

.button-container {
  justify-content: space-around;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

button {
  width: 100%;
  border: 1px solid #183059;
  padding: 15px 32px;
  background-color: #f6f4f3;
  font-weight: 600;
}

#record-btn, .left-edges-rounded {
  border-radius: 5px 0 0 5px;
}

#submit-btn {
  border-radius: 0 5px 5px 0;
}

#reset-btn {
  border-radius: 5px;
}

#answer-box {
  border-color: #183059;
  background-color: #f6f4f3;
}

button:hover {
  background-color: #276fbf;
  color: #f6f4f3;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #183059;
}

@media only screen and (max-width: 600px) {
  html {
    background: #d3e2f2;
  }

  .outer-container {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }
}